@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.josefin {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dark-blue {
  color: #0a0a1a;
}

.light-blue {
  color: #0f1026;
}

.lighter-blue {
  color: #181a40;
}
